[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qqconf"]
	path = qqconf
	url = https://github.com/eweine/qqconf
	subdir = qqconf
